<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyRecord1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D1BC05791BCA8D5C00101884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1BC05951BCA8D5C00101884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1BC05A01BCA8D5C00101884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
